<div class="container">
    <div class="row">
      <div class="col-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Grassland Ventures Fruit Database:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form class="sortBy">
              <input (keyup)="valueChanged($event)" placeholder="filter" />
            <!-- goal 2 -->
            <mat-label>Sort by</mat-label>
            <mat-select (selectionChange)="sortBy($event)">
              <mat-option value="nameAse">
                Name Ascending
              </mat-option>
              <mat-option value="nameDes">
              Name Descending
              </mat-option>
              <mat-option value="carbsAse">
                  Carbohydrates Ascending
              </mat-option>
              <mat-option value="carbsDes">
                  Carbohydrates Descending
              </mat-option>
            </mat-select>
          </form>
            <table
              class="mat-table"
              mat-table
              [dataSource]="viewModel.filteredFruit$"
            >
              <mat-text-column name="name"></mat-text-column>
              <mat-text-column name="id"></mat-text-column>
              <mat-text-column name="genus"> </mat-text-column>
              <ng-container matColumnDef="calories">
                <th mat-header-cell *matHeaderCellDef>Calories</th>
                <td mat-cell *matCellDef="let fruit" [style.fontWeight]="fruit.nutritions.calories <= 50 ? 'bold' : 'normal'">
                  {{ fruit.nutritions.calories }}
                </td>
              </ng-container>
              <ng-container matColumnDef="carbohydrates">
                <th mat-header-cell *matHeaderCellDef>Carbohydrates</th>
                <td mat-cell *matCellDef="let fruit">
                  {{ fruit.nutritions.carbohydrates }}
                </td>
              </ng-container>
              <ng-container matColumnDef="sugar" >
                <th mat-header-cell *matHeaderCellDef class="last-calumn">Sugar</th>
                <td mat-cell *matCellDef="let fruit" class="last-calumn">
                  {{ fruit.nutritions.sugar }}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr class="rows" [ngClass]="{ 'color': fruit.nutritions.calories <= 50 && fruit.nutritions.sugar >= 8 }"
                mat-row
                *matRowDef="let myRowData; columns: columnsToDisplay; let fruit;"
              ></tr>
            </table>
            <div
              class="loading-spinner-container"
              *ngIf="!!(viewModel.loadingFruit$ | async)"
            >
              <mat-progress-spinner
                mode="indeterminate"
                color="primary"
              ></mat-progress-spinner>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  